:root{
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --dark-background-color: #2F303A;
    --secondary-background-color: #F5F4FA;
    --logo-studio-color: #000000;
    --footer-font-color: rgba(255, 255, 255, 0.6);
}
body{
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
/* шапка сайту */
.logo {
    color: var(--logo-studio-color);
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logo-web {
    color: var(--accent-color);
}
.list {
    list-style: none;
}
.link {
    text-decoration: none;
    color: inherit;
}
header .link:hover, header .link:focus{
    color: var(--accent-color);}
.site-nav {
    color: var(--title-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.actine-page {
    color: var(--accent-color);
}

/* герой */
.hero{
    background-color: var(--dark-background-color);}
.hero h1 {
    color: var(--primary-background-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.button {
    color: var(--primary-background-color);
    background-color: var(--accent-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;}
.button:hover {
    cursor: pointer;
}
/* main info */
.benefits h3{
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}
.title {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.team {
    background-color: var(--secondary-background-color);
}
.team h3 {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.team p {
    font-size: 16px;
    line-height: 1.19;
}
/* footer */
.footer {
    background-color: var(--dark-background-color);}
.footer-logo {
    color: var(--primary-background-color);
}
footer .link:hover,
footer .link:focus {
    color: var(--accent-color);
}
address {
    font-style: normal;
}
.contacts {
    color: var(--primary-background-color);
}
.mail {
    color: var(--footer-font-color);
}

/* сторінка портфоліо */
/* кнопки фільтра */
.filter {
    color: var(--title-text-color);
    background-color: var(--secondary-background-color);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.filter:hover, .filter:focus{
    background-color: var(--accent-color);
    color: var(--primary-background-color);
}
/* приклади робіт */
.examples h2 {
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.examples p {
    font-size: 16px;
    line-height: 1.9;
}